

<h2>Index</h2>

<div>
    <h4>Tamagotchi</h4>
    <hr />
        
    <table>
        @foreach (var tama in ViewBag.List)
        {
            <tr>
                <td>
                    @tama.Naam
                </td>
            </tr>
        }
    </table>
</div>
